
:root {
    --bg-footer: #D92626;
    --color-footer:#ffffff;
}

footer {
    padding: 25px 80px;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-footer);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);

}

footer nav a {
    font-size: 24px;
    margin-left: 30px;
}

footer img {
    width: auto;
    height: 50px;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    margin-right: 16px;

}

footer a {
    color: var(--color-footer);
    margin-left: 10px;
    font-size: 32px;

}

footer a:hover {
    color: var(--color-footer);
    text-decoration: none;
}

footer img:hover {
    filter: grayscale(0%);
}

.logo {
    align-items: center;
    justify-content: space-around;
    font-weight: 300;
}
