@font-face { font-family: NovaFlat; src: url('fonts/NovaFlat-Regular.ttf'); } 
label{
    font-family: NovaFlat, arial, serif;;
}
body {
    width: 100vw;
    height: 100vh;
}

.drag-section-external {
    background-color: #D9D9D9;
    width: 500px;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
}

.drag-section-internal {
    background-color: #712F26;
    width: 450px;
    height: 270px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 12px;
}

.drag-drop {
    background-color: #D9D9D9;
    width: 400px;
    height: 240px;
    border: none;
    border-radius: 12px;
}

.drag-title {
    font-size: 32px;
    font-weight: bold;

}

.container-drag {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 280px
}
.drag-text{
    background-image: url("../Assets/Icons/dragAndDropBackground.svg");
    background-size: 200px 180px;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.drag-text label{
    font-size: 24px;
    text-align: center;
    font-weight: bold;

}
#botao{ text-align: center }
.botaoEnviar{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #AAAAAA;
    border-radius: 22px;
    color: black;
    background-color: #D9D9D9;
    font-size: 18px;

}
.upload-button{
    background-color: #5A261E;
    border: none;
    border-radius: 22px;
}
.upload-button label{
    padding: 4px 12px;
    color: #D8D8D8;
    font-size: 14px;
    font-weight:normal;
    margin: 4px;
}
.label-icon-upload{
    color: #D8D8D8;
    font-size: 32px;
    font-weight: normal;
}
.imgIntIconContainer,
.imgExtIconContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media screen and (max-width: 1060px) {

    .drag-title {
        font-size: 16px;
    }

    .container-section {
        flex-direction: column;
        gap:24px;
        margin-top: 120px
    }

    .drag-section-external {
        width: 200px;
        height: 100px;
    }

    .drag-section-internal {
        width: 150px;
        height: 80px;
    }

    .drag-drop {
        width: 100px;
        height: 60px;
    }
}